.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    gap:10px;
}
.card{
    width: 25rem;
    margin: 20px 5px 0 5px;
    background-color: #14213d;
    padding: 10px;
    
}
.card h2{
    color: #f1faee;
}
.card p{
    color: #e5e5e5;
    margin-bottom: 50px;
}
.card .card-body{
    position: relative;
}
button{
    background: none;
    border: none;
}